- return unless current_user.admin? && License.feature_available?(:repository_size_limit)

- form = local_assigns.fetch(:form)
- type = local_assigns.fetch(:type)
- label_class = (type == :project) ? 'label-light' : 'col-form-label col-sm-2'

.form-group.row
  = form.label :repository_size_limit, class: label_class do
    Repository size limit (MB)
  - if type == :project
    = form.number_field :repository_size_limit, value: form.object.repository_size_limit.try(:to_mb), class: 'form-control', min: 0
    %span.form-text.text-muted#repository_size_limit_help_block
      = size_limit_message(@project)
  - elsif type == :group
    .col-sm-10
      = form.number_field :repository_size_limit, value: form.object.repository_size_limit.try(:to_mb), class: 'form-control', min: 0
      %span.form-text.text-muted#repository_size_limit_help_block
        = size_limit_message_for_group(@group)
