- @content_class = "limit-container-width" unless fluid_layout
- page_title "CI / CD Settings"
- page_title "CI / CD"

- expanded = Rails.env.test?
- general_expanded = @project.errors.empty? ? expanded : true

%section.settings#js-general-pipeline-settings.no-animate{ class: ('expanded' if general_expanded) }
  .settings-header
    %h4
      General pipelines
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? 'Collapse' : 'Expand'
    %p
      Access your runner token, customize your pipeline configuration, and view your pipeline status and coverage report.
  .settings-content
    = render 'form'

%section.qa-autodevops-settings.settings#autodevops-settings.no-animate{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = s_('CICD|Auto DevOps')
    %button.btn.btn-default.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = s_('CICD|Auto DevOps will automatically build, test, and deploy your application based on a predefined Continuous Integration and Delivery configuration.')
      = link_to s_('CICD|Learn more about Auto DevOps'), help_page_path('topics/autodevops/index.md')
  .settings-content
    = render 'autodevops_form'

%section.qa-runners-settings.settings.no-animate{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      Runners
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? 'Collapse' : 'Expand'
    %p
      Register and see your runners for this project.
  .settings-content
    = render 'projects/runners/index'

%section.qa-variables-settings.settings.no-animate{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = _('Variables')
      = link_to icon('question-circle'), help_page_path('ci/variables/README', anchor: 'variables'), target: '_blank', rel: 'noopener noreferrer'
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? 'Collapse' : 'Expand'
    %p.append-bottom-0
      = render "ci/variables/content"
  .settings-content
    = render 'ci/variables/index', save_endpoint: project_variables_path(@project)

%section.settings.no-animate#js-pipeline-triggers{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      Pipeline triggers
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? 'Collapse' : 'Expand'
    %p
      Triggers can force a specific branch or tag to get rebuilt with an API call.  These tokens will
      impersonate their associated user including their access to projects and their project
      permissions.
  .settings-content
    = render 'projects/triggers/index'
